{% extends "base.html" %}
{% block style %}
{{ super() }}
<link href="{{url_for('static', filename='css/play.css')}}", rel="stylesheet">
{% endblock %}
{% block body_content %}
{{ super() }}
<div class="main">
  <div class="primary">
	{% if video %}
    <div class="video-container">
		<embed width="650" height="390"quality="high" allowfullscreen="true" type="application/x-shockwave-flash" src="http://share.acg.tv/flash.swf" flashvars="aid={{video.id}}&page=1" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"></embed>
    </div>

    <div id="video-header">
      <div class="headline">
		  <a href="{{video.url}}"><h4>{{video.title}}</h4></a>
      </div>
  </div>
  {% endif %}
  </div>
<div id="secondary">
   <div class="sidebar">
	<ul>
	{% if recommend_videos %}
	{% for video in recommend_videos %}
      <li class="video-list-item">
	  <a href="{{url_for('play.index', aid=video.id)}}">
            <span class="thumb"><img src="{{video.pic}}" width="160" height="80"></span>
			<span class="title">{{video.title}}</span>
			<span class="info">{{video.play}}次播放</span>
		</a></li>
	{% endfor %}
	{% endif %}
    </ul>
    </div>
  </div>  
</div>
{% endblock %}
