<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CPoint--Login</title>

    <link href="../static/css/login.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<link rel="stylesheet" href="../static/font-awesome-4.2.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
        <div class="headline">
        <div class="logo"></div>
        <div class="loginbtn">
			<a href={{authorize_url}} class="btn btn-primary btn-weibo">
      <span>
        <i class="fa fa-weibo fa-lg"></i>使用微博登陆
      </span>
       </a>
        </div>
       </div>
    </div>
  </body>
</html>
