{% extends "base.html" %}
	{% block title %}videoRecommendation{% endblock %}
	{% block style %}
	{{ super() }}
	<link rel="stylesheet" href="{{url_for('static', filename='font-awesome-4.2.0/css/font-awesome.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
	{% endblock %}
	{% block body_content %}
	{{ super() }}	
		<!--video list-->
		<div class="container container-video">
  
 
		<div class="row">
		{% if important_videos %}
		{% for video in important_videos %}
		<div class="col-md-6">
		<div class="panel-img-lg">
			<a href="{{url_for('play.index', aid=video.id)}}" target="blank"><img src="{{video.pic}}" width="500px" height="280px"></a>
		  </div>
		  <div class="panel-info-above">
			  <p class="title"><a href="{{url_for('play.index', aid=id)}}">{{video.title}}</a></p>
			  <div class="info"><span>{{video.videotype}}</span></div>
		  </div>
		   <div class="like-above like">
			<input type="checkbox" id="like-1" name="like">
			  <label for="like-1"></label>
			</input>
		  </div>
		   <div class="trash-above trash">
			<input type="checkbox" id="trash-1" name="trash">
			  <label for="trash-1"></label>
			</input>
		  </div>
	  </div> 
	  {% endfor %}
	  {% endif %}
	  </div>

	  <div class="row">
		  {% if common_videos %}
		  {% for video in common_videos %}
		  <div class="col-md-3">
		  <div class="panel-img">
			  <a href="{{url_for('play.index', aid=video.id)}}" target="blank"><img src="{{video.pic}}" width="235px" height="136px"></a>
		  </div>
		  <div class="panel-info">
			  <p class="title"><a href="{{url_for('play.index', aid=id)}}">{{video.title}}</a></p>
			  <div class="info"><span>{{video.videotype}}</span></div>
		  </div>
		  <div class="like-above-s like">
			<input type="checkbox" id="like-3" name="like">
			  <label for="like-3"></label>
			</input>
		  </div>
		   <div class="trash-above-s trash">
			<input type="checkbox" id="trash-3" name="trash">
			  <label for="trash-3"></label>
			</input>
		</div>
	</div>
		{% endfor %}
		{% endif %}
	  </div>
  </div>
{% block bootstrap_js_bottom %}
{{ super() }}
<script>
	$(function(){
	$(document).ready(function() {
		$(this).find('.open').on('click', function(){
			var url = window.location.href;
			var data = {type:1};
			$.ajax({
				type : "get",
				async : false,
				url : url,
				data : data,
				timeout : 1000,
				success : function(){
					$('#container.container-video').datagrid('reload');
				},
				error : function() {
					alert("Failed to refresh. Please try again later!");
				},
			});
		});
	});
});
</script>
{% endblock %}
{% endblock %}
