{% extends "base.html" %}
{% block content %} 
<div class="main">
   <!-- Nav tabs -->
  <div role="tabpanel" >
    <div class="tab-bar">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
        <li role="presentation"><a href="#likes" aria-controls="likes" role="tab" data-toggle="tab">Likes</a></li>
      </ul>
    </div>
  <!-- Tab panes -->
    <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="profile" style="width:30%"><canvas id="canvas" height="450" width="450"></canvas></div>
    <div role="tabpanel" class="tab-pane" id="likes">
		<div class="tab-pane clearfix ">
	{% if likes %}
	{% for like in likes %}
    <div class="item-wrap">
      <div class="item">
		  <a href="{{like.url}}">
			  <img src="{{like.pic}}" width="320" height="180" />
		  </a>
        <div class="mask"></div>
	  </div>
	  <div class="item-info">
		  <a href="{{like.url}}">
			<p>{{like.title}}</p>
		  </a>
	  </div>
	</div>
	{% endfor %}
	{% endif %}
  </div>
</div>
<script src="{{url_for('static', filename='js/libs/jquery/jquery.js')}}" ></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}" ></script>
<script src="{{url_for('static', filename='js/libs/handlebars/handlebars.js')}}"></script>
<script src="{{url_for('static', filename='js/waterfall.min.js')}}"></script>
<script src="{{url_for('static', filename='js/Chart.js')}}"></script>

 <script>
    $(function () {
      $('#myTab a:last').tab('show')
    })
    </script>
 <script>
  var radarChartData = {
    labels: ["萌", "燃", "宅", "腐", "傲娇", "鬼畜", "文艺"],
    datasets: [
      {
        label: "My Second dataset",
        fillColor: "rgba(245,72,79,0.7)",
        strokeColor: "rgba(245,72,79,1)",
        pointColor: "rgba(245,72,79,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(245,72,79,1)",
        data: [28,48,40,19,96,27,100]
      }
    ]
  };

  window.onload = function(){
    window.myRadar = new Chart(document.getElementById("canvas").getContext("2d")).Radar(radarChartData, {
      responsive: true,
      pointLabelFontFamily : "'微软雅黑'",
      pointLabelFontSize : 18,
      pointLabelFontColor : "#4d535f",
      angleLineWidth : 2,

    });
  }

  </script>
{% endblock %}
{% block title %}
个人信息
{% endblock %}

